## OS files ##
.directory
[Dd]esktop.ini
Thumbs.db
.DS_Store
._*

## Editor files ##
.idea/
out/
[._]*.sw[a-p]
[._]sw[a-p]
.netrwhist
.lvimrc
tags
*.iml
*~

## Language files ##
__pycache__/
META-INF/
build/
*.py[cod]
*.class
*.out
*.o

